.main__container{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
}

.main__container-header{

    width: 100%;
    height: 40vh;
    background-color: #D94453;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.main__container-tittle{
    font-size: 4rem;

}

.main__container-body{

    width: 100%;
    padding: 1rem;
    background-color: #ffffff;


}