.bar_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #363636;
    padding: 0.5rem 2rem;
}

.bar_nav-navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.bar_nav-tittle{
    color: #ffffff;
}

.bar_nav-options{

    font-size: 0.8rem;
    color: #ffffff;
}

.bar_nav-options:hover{

    cursor: pointer;
    color: #983C46;
}