.anime__rank__container {
    width: 20px;
    height: 20px;
    background-color: rgb(228, 207, 88);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid white;
}

p {
    color: black;
    font-weight: 900;
    font-size: 12px;
}

