.container1{height: 50px;
    width: 50px;
    background-color:#F47732 ;
    margin: 10px;
    display:inline-flex;
    


}

.container2{height: 50px;
    width: 50px;
    background-color:#1148F3 ;
    margin: 10px;
    display: inline-flex;


}