* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    margin: 50px;
}

h1 {
    margin-bottom: 40px;
}

form {
    background-color: gainsboro;
    border-radius: 5%;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

label {
    font-size: 18px;
}

input:focus {
    background-color: rgb(218, 244, 218);
}

label a:active {
  color: red;
}


#submit {
    width: 80px;
    height: 25px;
    border-radius: 5%;
}

#options-form {
    line-height: 20px;
}

input[type=submit]:disabled {
    font-size: 20px;
    color: white;
    background-color: rgb(163, 81, 81);
}
