.header-link {
    padding: 1rem;
    background-color: brown;
}
.hello {
    text-decoration: none;
    padding: 0.5rem;
    color: white;
}
.hello:hover {
    background-color: aqua;
    color: black;
}