
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}


.container-web {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    height: 600px;
    width: 800px;
    background-color: #cdcdcd;
}

.container-card {
    position: relative;
    height: 500px;
    width: 300px;
    background-color: #ffffff;
}



.container-imagen-camiseta {

    position: absolute;
    display: flex;
    top: 0px;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
    width: 300px;
    background-color: #37ca81;
    overflow: hidden;
}

.camiseta {

    margin-top: 30px;
    height: 80%;
    width: 80%;
    opacity: 0.3;


    
}


.container-rectangulo-view-details
    {
    position: absolute;
    top: 0px;
    z-index: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;

}

.rectangulo-view-details {
    
    position: absolute;
    z-index: 60px;
    background-color: #ffffff;
    height: 40px;
    width: 180px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #37ca81;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-parte-de-abajo-para-texto  {

    position: absolute;
    bottom:0px;
    height: 200px;
    width: 300px;
    background-color: #ffffff;
    font-family: 'Be Vietnam Pro', sans-serif;
    display: block;
    padding-left:25px ;
}


.adidas {

    width: 300px;
    font-size: 19px;
    color: #000000;
    padding-top: 25px;

}


.mens {

    width: 300px;
    font-size: 14px;
    color: #000000;
    margin-top: 5px;

}

.sizes {

    width: 300px;
    font-size: 12px;
    color: #000000;
    margin-top: 20px;
  
}

.tallas {

    width: 300px;
    font-size: 8px;
    color: #000000;
    margin-top: 5px;
 
}

.colors {

    width: 300px;
    font-size: 12px;
    color: #000000;
    margin-top: 20px;
}
.container-parte-de-abajo-para-circulos {

    display: flex;
    flex-direction: row;
    margin: 1px;
    height: 100px;
    width: 20px;

}

.azul {

    background-color: rgb(0, 0, 256);
    border-radius: 18px;
}

