.header {
  background-color: aquamarine;
  padding: 1rem;
}
.header-link {
  text-decoration: none;
  background-color: bisque;
  padding: 0.5rem;
  border-radius: 5px;
}
.header-link:hover {
  background-color: blueviolet;
  color: aquamarine;
}
