.box {
    width: 100px;
    height: 100px;
    background-color:#8756F3 ;
  
}

.box2{
    width: 100px;
    height: 100px;
    background-color:#12F467 ;
}

.box3{
    width: 100px;
    height: 100px;
    background-color:#007743 ;
}