* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: 30px;
}

header {
  width: 100%;
  height: 70px;
  background-color: rgb(42, 55, 66);
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin__app-title {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
}

table {
  width: 80%;
  padding: 20px;
  background-color: rgb(241, 241, 241);
  border-radius: 20px;
}

.coin__input-container {
  display: flex;
  justify-content: center;
}

.search {
  margin-bottom: 30px;
  height: 30px;
  width: 200px;
  border: none;
  background-color: rgb(218, 218, 218);
  border-radius: 20px;
  padding: 10px;
}

::-webkit-input-placeholder {
  text-align: center;
  font-size: 1rem;
  color: rgb(109, 109, 109);
}

.coin-logo {
  width: 25px;
  margin-right: 10px;
}

.coin-symbol {
  color: rgb(165, 164, 164);
  text-transform: uppercase;
  padding-left: 5px;
}

.coin-container {
  display: flex;
}

th {
  text-align: left;
  padding-bottom: 10px;
  font-size: 20px;
}

td {
  width: auto;
}
