* {

    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
}

/* .boton {

    background-color: rgb(16, 113, 151);
    height: 80px;
    width: 80px;
    color: white;
}


.fa {

color: rgb(160, 38, 38);
height: 50px;
width: 50px;
} */




button {

    background-color: rgb(16, 113, 151);
    height: 80px;
    width: 80px;
    color: white;
}