*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#container_table{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
    border: 1px solid black;
    width: 540px;

}

.c1{
    width: 300px;
    height: 30px;
    border-bottom: 1px solid grey;
    align-items: center;
   
}
.c2{
    width: 120px;
    height: 30px;
    border-bottom: 1px solid grey;
    
}
.c3{
    width: 120px;
    height: 30px;
    border-bottom: 1px solid grey;
    
}
.title_Coin{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}
.title_Coin_t{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    background-color: rgb(211, 210, 210);
    border-left: 1px solid black;
}

.img_Crypto{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
.title_PriceChange_t{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 210, 210);
    border-right: 1px solid black;
}
.title_Price_t{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 210, 210);
}
.container_div{
    display: flex;
    flex-direction: row;

}
.container_div_t{
    display: flex;
    flex-direction: row;
}

.p_price{
    margin-top: 5px;
}
.p_price_changed{
    margin-top: 5px;
}
.busqueda_text{
    display: block;
    width: 540px;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.red{
    color: red
}
.green{
    color:green
}
.black {
    color:black
}