
nav {
    align-items: center;
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    background-color: grey;
    width: 100%;
}

nav .menu {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    width: 100%;
    text-align: center;
}
.unformatted {
    text-decoration: none;
    color: black;
}

h3{
    font-size: 1.5em;
    font-weight: bold;
}

.div-one {
    width: 150px;
    height: 150px;
    border: 3px solid #CCC;
    box-shadow: 7px 7px 15px grey;
    background-color: beige;
}

.div-two {
    width: 300px;
    height: 100px;
    border: 10px dotted darkblue;
    box-shadow: 10px 8px 25px blue;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(33,33,215,1) 46%, rgba(0,212,255,1) 100%)
}

.div-three {
    width: 450px;
    height: 450px;
    background-image: url(src/las-mejores-fotos-de-paisajes-2020.jpeg);
}

.text-abobe {
    position: absolute;
    bottom: 0%;
    left: 5%;
}

.logo-circle {
    width: 35px;
    height: 35px;
    border-radius: 150px;
}

footer {
    background-color: #ADD8E6;
    width: 100%;
    height: 100px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    min-height: calc(100vh - 100px - 50px);
}

#footer-bar {
    
}

.all-link {
    
}