* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    display: flex;
    justify-content: center;
    background-color: gainsboro;
    min-height: 100vh;
}

h1, h2 {
    font-size: 22px;
}

h2 {
    color: rgb(11, 11, 217);
}

h3 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    font-size: 14px;
}

.card-container { 
    width: 370px;
    height: 600px;
    box-shadow: 5px 5px 5px 5px rgb(167, 167, 167);
    align-self: center;
}

/* PRODUCT IMAGE */

#img-container {
    display: flex;
    justify-content: center;
    background-image: url('sneakers-adidas.png');
    background-size: 370px;
    width: 370px;
    height: 300px;
}

button {
    align-self: center;
    background-color: white;
    padding: 10px 20px;
    font-weight: bold;
    border: 3px solid rgb(11, 11, 217);
}

button:hover {
    cursor: pointer;
}

/* PRODUCT INFORMATION */

.text-card {
    display: flex;
    display: block;
    line-height: 30px;
    width: 370px;
    height: 300px;
    background-color: white;
}

.fas {
    font-size: 20px;
}

#product-heading {
    padding: 40px 40px 0px 40px;
    display: flex;
    justify-content: space-between;
}

#product-info {
    padding-left: 40px;
    display: flex;
    display: block;
}

#product-info > p {
    padding-top: 20px;
}


/* AVAILABLE COLORS */

.sneakers-colors {
    display: flex;
    padding-top: 5px;
    gap: 8px;
}

.sneakers-colors > div {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

#color-blue {
    background-color: rgb(105, 165, 255);
}

#color-red {
    background-color: rgb(173, 10, 45);
}

#color-yellow {
    background-color: rgb(223, 185, 61);
}

#color-green {
    background-color: rgb(114, 182, 154);
}
