* {
    margin: 0;
    padding: 0;
}

body {

    margin: 20px;
}

.chess {
    display: flex;
    width: 40px;
    height: 40px;
    margin-left: 4px;
}

.chess-color-light {
    background-color: gainsboro;
    display: inline-block;
}

.chess-color-dark {
    background-color: black;
    display: inline-block;
}


