.uno {

    height: 350px;
    width: 350px;
    background-color: aqua;
    border: black;
    text-align: center;
    align-items: center;
    margin: 10px;
    font-size: 100px;
    border: 8px solid black;
    font-family: Arial black;


}