.empty-box {
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

.fill-box {
    width: 150px;
    height: 150px;
    background-color: red;
    border: 1px solid black;
}
.fill-box-green {
    background-color: green;
    width: 150px;
    height: 150px;
    border: 1px solid black;
}
.box-container {
    border: 1px solid #e4e1e1;
    border-left: 3px solid green;
    border-radius: 3px;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    width: fit-content;
}
/* .box-container:hover .fill-box {
    background-color: green;
} */