.card_container{
    
    width: max-content;
    border: solid 1px gray;
    border-radius: 10px;
    margin: 1rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container__image{

  
    height: 150px;
    width: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    

}

.afghanistan{

    background-image: url(../../assets/images/afghanistan.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.algeria{

    background-image: url(../../assets/images/algeria.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.andorra{

    background-image: url(../../assets/images/andorra.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.america-samoa{
    background-image: url(../../assets/images/americanSamoa.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.body__container{

    background-color: #F8F9FA;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.8rem 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.beer__name{
    opacity: 0.9;
    font-weight: bold;
    border-bottom: 1px solid darkgray;
    padding: 0.2rem 0;
    color: black;

}

.text-info{
    border-bottom: 1px solid darkgray;
    padding: 0.5rem;
    color: black;
}

