.card_container{
    border-radius: 20px;
    width: 15%;
}

.card_container:hover{
cursor: pointer;
box-shadow: rgba(232, 233, 226, 0.651) 0px 10px 10px;
}

.image_container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(../assets/images/pokeball.jpg);
     */
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    background-color: rgb(230, 227, 227);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.imgage{
    height: 150px;
    width: 150px;
}

.pokemon_info{
    width: 100%;
    height: 150px;
    background-color: rgb(77, 77, 77);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1rem;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.pokemon_info:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.pokemon_id{
    color: #c5b94f;
    margin-bottom: 0.5rem;
}

.pokemon_type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    width: 60%;
}

.type{
    background-color: rgb(71, 122, 122);
    padding: 0.2rem 0.8rem;
    border-radius: 8px;
}
.grass{
    background-color: #91BE19;
}

.poison{
    background-color: #BD78BD;
}
.fire{
    background-color: #FE3700;
}
.flying{
    background-color: #79BBD6;
}
.dragon{
    background-color: #3C64C7;
}
.water{
    background-color: #0093E4;
}
.bug{
    background-color: #32B332;
}

.normal{
    background-color: #9F9F9F;
}

.dark{
    background-color: #646464;
}
.electric{
    background-color: #E3B600;
}

.psychic{
    background-color: #DB78C7;
}

.ice{
    background-color: #00B6ED;
}

.ground{
    background-color: #CBA042;
}

.steel{
    background-color: #95B3DB;
}

.fairy{
    background-color: #FE7EB7;
}

.fighting{
    background-color: #C75500;
}

.rock{
    background-color: #9F7850;
}

.ghost{
    background-color: #8B78EF;
}