body {
    display: flex;
    flex-wrap: wrap;
    
}

.square {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin: 2px;
}

.color1 {
    background-color: #F47732;
}

.color2 {
    background-color: #1148F3;
}
