.flex-container{
    display: flex;
    flex-wrap:wrap;
    
}

.div-1{
    display: flex;
    background-color: rgb(136, 201, 179);
    width: 350px;
    height: 350px;
    align-items:center;
    justify-content: center;

}

.div-2{
    display: flex;
    background-color: rgb(231, 227, 163);
    width: 350px;
    height: 350px;
    align-items:center;
    justify-content: center;
}

.div-3{
    display: flex;
    background-color: rgb(116, 114, 202);
    width: 350px;
    height: 350px;
    align-items:center;
    justify-content: center;
}

.div-4{
    display: flex;
    background-color: rgb(107, 45, 45);
    width: 350px;
    height: 350px;
    align-items:center;
    justify-content: center;
}

.div-5{
    display: flex;
    background-color: rgb(105, 180, 105);
    width: 350px;
    height: 350px;
    align-items:center;
    justify-content: center;
}

.div-6{
    display: flex;
    background-color: #d69880;
    width: 350px;
    height: 350px;
    align-items:center;
    justify-content: center;
}

.div-7{
    display: flex;
    background-color: #d4eac0;
    width: 350px;
    height: 350px;
    align-items:center;
    justify-content: center;
    
}

.div-8{
    display: flex;
    background-color: #b4a8bf;
    width: 350px;
    height: 350px;
    align-items:center;
    justify-content: center;
}

.div-9{
    display: flex;
    background-color: #61566b;
    width: 350px;
    height: 350px;
    align-items:center;
    justify-content: center;
}

.div-10{
    display: flex;
    background-color: #8590f7;
    width: 350px;
    height: 350px;
    align-items:center;
    justify-content: center;
}