* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container_busqueda{
    width: 100%;
    margin-top: 20px;
    height: 30px;
}

.input_text_busq {
    width: 500px;
    height: 20px;
    margin-left: 5px;
}

.bottom_buscar {
    border-radius: 2px;
    border: 1px solid;
    background-color: rgb(50, 141, 216);
    font-size: 15px;
    padding: 2px;
}

.bottom_limpiar {
    border-radius: 2px;
    border: 1px solid;
    background-color: rgb(216, 75, 50);
    font-size: 15px;
    padding: 2px;
}


.color_azul {
    color: blue;
}

.special_cambiado {
    color: red;
}

.container_card {
    width: 200px;
    height: 200px;
    
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 10px 10px 38px -1px rgba(125,119,125,0.94);
    margin: 10px;

}

.imag_card {
    width: 200px;
    height: 100px;
    margin: 0px;
    
    
}

.fecha_card {
    font-size: 10px;
    text-align: end;
    padding-right: 10px;
}

.nombre_ciudad {
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    padding-bottom: 5px;
}

.text_card {
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    font-size: 13px;
    padding-bottom: 10px;
}

.input_bottom {
    width: 80px;
    margin-left: 60px;
    border-radius: 10px;
    background-color: rgb(108, 186, 238);
}

.img_fondo {
    border-radius: 20px;
    box-shadow: 10px 10px 38px -1px rgba(125,119,125,0.74);
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}