*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 10rem;
    width: 20rem;
    height: 25rem;
    background-color: darkgreen;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px darkgrey ;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(55, 55, 56);
    position: relative;
}

.parte_superior {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}

.parte_inferior {
    height: 40%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 0px 0px 20px 20px;
    justify-content: center;
    align-items: center;

}

.pila_superior {
    width: 3rem;
    height: 1rem;
    border: solid 1px;

}

.pila_inferior {
    display: flex;
    width: 4rem;
    height: 6rem;
    border: solid 1px;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    justify-content: flex-end

}

.battery_number {
    font-size: 3rem; 
}

.linea {
    width: 50px;
    height: 14px;
    border: solid 1px;
    background-color: #ffffff;
    margin: 2px;

}

.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px #ffffff solid;
    background-color: darkgreen;
    position: absolute;
    right: 0;
    margin: 140px 10px;
    color: #ffffff;
}